##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [4]:
T=('python',)*5
T

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [1]:
string = "python"

print(list(string[::2]))

['p', 't', 'o']

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [9]:
from statistics import mean
L1 = [5,7,9,4,2]
average=mean(L1)
print(average)

5.4

### Task 4
Write a code that takes a year as input and determines whether it is a leap year or not.

In [10]:
import calendar

print(calendar.isleap(2023))

False

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [11]:
l=[21,6,12,57,35,61]
l.sort()
a=l[1]
b=l[-2]
x=a+b
print(x)

69